singularity {
  enabled = true
  autoMounts = true
  cacheDir = "SINGULARITY_CACHE"
}

// this will clean up the work directory after each run
cleanup = true

//note: add container info in the containers.config file !

//includeConfig "$PWD/Cecret/configs/containers.config"
includeConfig "$PWD/Cecret/configs/containers_fixedversion.config"

profiles {

  v3 {
    // For process kraken2 (for optional contamination determination with kraken)
    params.kraken2 = true
    params.kraken2_db = ' ***replace with your own path here***'

    // For process bbmap
    params.BB_PATH = ' ***replace with your own path here***'
    params.BB_REF = ' ***replace with your own path here***'
    params.bbmap = false // map filered reads on human genome GRCh38
    params.BB_BIND = '***set the binding path (top level recommended) for R container***'

    // reference files for SARS-CoV-2 (part of the github repository)
    // the path is relative to workflow launch directory
    params.reference_genome = "$PWD/Cecret/configs/MN908947.3.fasta"
    params.gff_file = "$PWD/Cecret/configs/MN908947.3.gff"
    params.primer_bed = "$PWD/Cecret/configs/artic_V3_nCoV-2019.bed"

    params.pacbam_odd_bed = "$PWD/Cecret/configs/artic_V3_nCoV-2019.insert.odd.bed"
    params.pacbam_even_bed = "$PWD/Cecret/configs/artic_V3_nCoV-2019.insert.even.bed"
    params.pacbamorf_orf_bed = "$PWD/Cecret/configs/MN908947.3-ORFs.bed"
    params.pacbamorf_orf7b_bed = "$PWD/Cecret/configs/MN908947.3-ORF7b.bed"

    // minimap2 paramaters
    params.minimap2_K = '20M' // stolen from monroe

    // param that coincides with the staphb/seqyclean:1.10.09 container run with singularity
    params.seqyclean_contaminant_file="/Adapters_plus_PhiX_174.fasta"
    params.seqyclean_minlen = 25

    // for ivar
    params.ivar_quality = 20
    params.ivar_frequencing_threshold = 0.6
    params.ivar_minimum_read_depth = 10 // default is 10
    params.mpileup_depth = 8000

  }

  // specify params for artic v4 primers
  v4 {
    // For process kraken2 (for optional contamination determination with kraken)
    params.kraken2 = true
    params.kraken2_db = ' ***replace with your own path here***'

    // For process bbmap
    params.BB_PATH = ' ***replace with your own path here***'
    params.BB_REF = ' ***replace with your own path here***'
    params.bbmap = false // map filered reads on human genome GRCh38
    params.BB_BIND = '***set the binding path (top level recommended) for R container***'

    // reference files for SARS-CoV-2 (part of the github repository)
    // the path is relative to workflow launch directory
    params.reference_genome = "908947.3.fasta"
    params.gff_file = "$PWD/Cecret/configs/MN908947.3.gff"

    //define v4 bed files here
    //params.primer_bed = 
    //params.pacbam_odd_bed = 
    //params.pacbam_even_bed = 
    //params.pacbamorf_orf_bed = 
    //params.pacbamorf_orf7b_bed = 

    // minimap2 paramaters
    params.minimap2_K = '20M' // stolen from monroe

    // param that coincides with the staphb/seqyclean:1.10.09 container run with singularity
    params.seqyclean_contaminant_file="/Adapters_plus_PhiX_174.fasta"
    params.seqyclean_minlen = 25

    // for ivar
    params.ivar_quality = 20
    params.ivar_frequencing_threshold = 0.6
    params.ivar_minimum_read_depth = 10 // default is 10
    params.mpileup_depth = 8000

  }
  

}



process {

  errorStrategy = 'retry'
  maxRetries = 1

  cpus = 8
  memory = '8 GB'

  withName:pacbam_amplicons{
    cpus = 4
    memory = '8 GB'
  }
  withName:pacbam_orfs{
    cpus = 4
    memory = '8 GB'
  }
  withName:ivar_vcf{
    cpus = 2
    memory = '8 GB'
  }
  withName:vadr{
    cpus = 2
    memory = '8 GB'
  }
  withName:mqc{
    cpus = 2
    memory = '8 GB'
  }
  withName:coverage_depth_bwa{
    cpus = 8
    memory = '8 GB'
  }
  withName:coverage_depth_samtools{
    cpus = 8
    memory = '8 GB'
  }
  withName:SC2Ref_matched_reads{
    cpus = 4
    memory = '8 GB'
  }
  withName:samtools_insertsizes{
    cpus = 4
    memory = '8 GB'
  }
  
}




