process {
  withName:seqyclean{
    container = 'staphb/seqyclean:1.10.09'
  }
  withName:fastp{
    container = 'bromberglab/fastp:latest'
  }
  withName:fastqc{
    container = 'staphb/fastqc:latest'
  }
  withName:bwa{
    container = 'staphb/bwa:0.7.17'
  }
  withName:minimap2{
    container = 'staphb/minimap2:latest'
  }
  withName:sort{
    container = 'staphb/samtools:1.12'
  }
  withName:ivar_trim{
    container = 'staphb/ivar:1.3.1'
  }
  withName:samtools_trim{
    container = 'staphb/samtools:1.12'
  }
  withName:ivar_variants{
    container = 'staphb/ivar:1.3.1'
  }
  withName:ivar_consensus{
    container = 'staphb/ivar:1.3.1'
  }
  withName:bcftools_variants{
    container = 'staphb/bcftools:1.12'
  }
  withName:samtools_stats{
    container = 'staphb/samtools:1.12'
  }
  withName:samtools_coverage{
    container = 'staphb/samtools:1.12'
  }
  withName:samtools_flagstat{
    container = 'staphb/samtools:1.12'
  }
  withName:kraken2{
    container = 'staphb/kraken2:2.1.1-no-db'
  }
  withName:bedtools{
    container = 'staphb/bedtools:2.30.0'
  }
  withName:bamsnap{
    container = 'danielmsk/bamsnap:latest'
  }
  withName:samtools_ampliconstats{
    container = 'staphb/samtools:1.12'
  }
  withName:pangolin{
    container = 'staphb/pangolin:2.3.8-pangolearn-2021-04-01'
  }
  withName:nextclade{
    container = 'neherlab/nextclade:0.14.1'
  }
  withName:summary{
    container = 'staphb/parallel-perl:latest'
  }
  withName:combined_summary{
    container = 'staphb/parallel-perl:latest'
  }
  withName:mafft{
    container = 'staphb/mafft:latest'
  }
  withName:snpdists{
    container = 'staphb/snp-dists:latest'
  }
  withName:iqtree{
    container = 'staphb/iqtree:latest'
  }
  withName:rename{
    container = 'staphb/parallel-perl:latest'
  }
  withName:combine_fastas{
    container = 'staphb/parallel-perl:latest'
  }
  withName:mqc{
    container = 'ewels/multiqc:1.10.1'
  }
  withName:pacbam{
    container = 'cibiobcg/pacbam:1.6.0'
  }
  withName:vadr{
    container = 'staphb/vadr:1.1.3'
  }
  withName:aocd_bwa{
    container = 'staphb/bwa:0.7.17'
  }
  withName:aocd_samtools{
    container = 'staphb/samtools:1.12'
  }
  withName:SC2Ref_matched_reads{
    container = 'staphb/samtools:1.12'
  }

}
