process {
  withName:seqyclean{
    container = 'staphb/seqyclean:latest'
  }
  withName:fastp{
    container = 'bromberglab/fastp:latest'
  }
  withName:fastqc{
    container = 'staphb/fastqc:latest'
  }
  withName:bwa{
    container = 'staphb/bwa:latest'
  }
  withName:minimap2{
    container = 'staphb/minimap2:latest'
  }
  withName:sort{
    container = 'staphb/samtools:latest'
  }
  withName:ivar_trim{
    container = 'staphb/ivar:latest'
  }
  withName:samtools_trim{
    container = 'staphb/samtools:latest'
  }
  withName:ivar_variants{
    container = 'staphb/ivar:latest'
  }
  withName:ivar_consensus{
    container = 'staphb/ivar:latest'
  }
  withName:bcftools_variants{
    container = 'staphb/bcftools:latest'
  }
  withName:samtools_stats{
    container = 'staphb/samtools:latest'
  }
  withName:samtools_coverage{
    container = 'staphb/samtools:latest'
  }
  withName:samtools_flagstat{
    container = 'staphb/samtools:latest'
  }
  withName:kraken2{
    container = 'staphb/kraken2:latest'
  }
  withName:bedtools{
    container = 'staphb/bedtools:latest'
  }
  withName:bamsnap{
    container = 'danielmsk/bamsnap:latest'
  }
  withName:samtools_ampliconstats{
    container = 'staphb/samtools:latest'
  }
  withName:pangolin{
    //container = 'staphb/pangolin:latest'
    // pangolin v3.0 introduced quite a different output format
    container = 'staphb/pangolin:3.0.5-pangolearn-2021-06-05'
  }
  withName:nextclade{
    container = 'neherlab/nextclade:latest'
  }
  withName:summary{
    container = 'staphb/parallel-perl:latest'
  }
  withName:combined_summary{
    container = 'staphb/parallel-perl:latest'
  }
  withName:mafft{
    container = 'staphb/mafft:latest'
  }
  withName:snpdists{
    container = 'staphb/snp-dists:latest'
  }
  withName:iqtree{
    container = 'staphb/iqtree:latest'
  }
  withName:rename{
    container = 'staphb/parallel-perl:latest'
  }
  withName:combine_fastas{
    container = 'staphb/parallel-perl:latest'
  }
  withName:mqc{
    container = 'ewels/multiqc:latest'
  }
  withName:pacbam{
    container = 'cibiobcg/pacbam:latest'
  }
  withName:vadr{
    container = 'staphb/vadr:latest'
  }
  withName:coverage_depth_bwa{
    container = 'staphb/bwa:latest'
  }
  withName:coverage_depth_samtools{
    container = 'staphb/samtools:latest'
  }
  withName:SC2Ref_matched_reads{
    container = 'staphb/samtools:latest'
  }
  withName:samtools_insertsizes{
    container = 'staphb/samtools:latest'
  }
  withName:pacbam_orfs{
    container = 'cibiobcg/pacbam:latest'
  }
  withName:ivar_vcf{
    container = 'biocontainers/pyvcf:v0.6.8git20170215.476169c-1-deb_cv1'
  }
}
