singularity {
  enabled = true
  autoMounts = true
  cacheDir = "SINGULARITY_CACHE"
}


// containers for our custom scripts
pacbam_container = 'cibiobcg/pacbam:latest'
ivar_vcf_container = 'biocontainers/pyvcf:v0.6.8git20170215.476169c-1-deb_cv1'
vadr_container = 'staphb/vadr:1.1.3'

// this will clean up the work directory after each run
cleanup = true

includeConfig 'containers.config'

process {


  errorStrategy = 'retry'
  maxRetries = 3

  cpus = 4
  memory = '8 GB'

  withName:pacbam{
    container = pacbam_container
  }
  withName:ivar_vcf{
    container = ivar_vcf_container
    cpus = 2
    memory = '8 GB'
  }
  withName:vadr{
    container = vadr_container
    cpus = 2
    memory = '8 GB'
  }
}




